.panel {
    background: #FFF;
}

.inactive {
    display: none;
}

.advanced_inactive {
    display: none;
}

.parameter .popup {
    display: none;
}

.parameter:hover .popup {
    display: block;
}

.l-mar-top {
    margin-top: 30px;
}

.l-mar-right-small {
    margin-right: 9px;
}

.search_match {
    background-color: skyblue;
}

.hide_filename {
    color:transparent;
}
